<div class="span3 lb_col">
	<ul class="nav nav-pills nav-stacked">
		<li><%= link_to "Home", root_path, :id => "nav_left_home" %></li>
		<li><%= link_to "About", about_path, :id => "nav_left_about" %></li>
		<li><%= link_to "Contact", contact_path, :id => "nav_left_contact" %></li>
		<li><%= link_to "Portfolio", portfolio_path, :id => "nav_left_portfolio" %></li>
	</ul>
</div>