<div class="row">
	<div class="span9">
		<h1>Архитектура</h1>
		<p>
			Архитекту́ра (лат. architectura от др.-греч. αρχι — старший, главный и др.-греч. τέκτων — строитель, плотник) — искусство проектировать, строить здания и сооружения (также их комплексы). Архитектура непременно создает материально организованную среду, необходимую людям для их жизни и деятельности, в соответствии с современными техническими возможностями и эстетическими воззрениями общества[1].

			Архитектурой также называют облик зданий и сооружений, а также и сами здания и сооружения собирательно[2][3].

			Архитектурные работы часто воспринимаются как культурные или политические символы, как произведения искусства. Исторические цивилизации характеризуются своими архитектурными достижениями. Архитектура позволяет выполняться жизненным функциям общества, в то же время направляет жизненные процессы. Однако архитектура создается в соответствии с возможностями и потребностями людей[3].

			Предметом работы с пространством является и организация населенного места в целом. Это выделилось в отдельное направление — градостроительство[3], которое охватывает комплекс общественно-экономических, строительно-технических, архитектурно-художественных, санитарно-гигиенических проблем. По этой же причине трудно дать правильную оценку архитектурному сооружению, не зная градостроительства. Почти все известные градостроители имели архитектурное образование[4].
		</p>
	</div>
</div>