<div class="row">
	<div class="span8 offset2">
		<h1>Услуги</h1>
		<p>
			<p>
				Интерьеры отличаются функциональным назначением (частный, общественный, торговый…). У каждого из проектов есть свои немаловажные требования, которые я буду учитывать при создании дизайн-проекта, а значит, каждый объект потребует разного подхода  и учета разных подробностей.
			</p>
			<p>
				Стилистические решения тоже бывают разными (классический интерьер, модерн, ар-деко, ретро, кантри, минимализм и еще много других). Где-то деталей будет больше, где-то меньше, так что на проработку разных интерьеров уйдет разное количество времени. Мы с Вами ведь не хотим перегрузить или, наоборот, недогрузить интерьер, Вам ведь в нем жить.
			</p>
		</p>
		<p>
			Так что перед составлением коммерческого предложения по дизайну интерьера мне нужно будет выехать на объект для осмотра существующей ситуации и выявления потенциала и особенностей пространства. Само собой мы с Вами обсудим пожелания и пристрастия, особенности именно Вашего восприятия пространства и цвета. Для того, чтобы создать уникальное и комфортное для жизни художественное пространство, мне необходимо познакомиться не только с Вашими вкусовыми предпочтениями, но и особенностями Вашего образа жизни. И ваш интерьер будет каждый день приносить Вам удовольствие.
		</p>
	</div>
</div>
<div class="row">
	<div class="span4 offset2">
		<%= image_tag("870x500/1_rotated.jpg", :alt => "") %>
	</div>
	<div class="span4">
		<h3>Из чего складывается стоимость дизайн-проекта:</h3>
		<p>
			<ul>
				<li>Концепция и предварительный эскиз 
					<ul>
						<li>Определение стилевого решения  интерьера</li>
						<li>Составление технического задания</li>
						<li>Обмеры и фотосъемка объекта</li>
						<li>Несколько вариантов планировочного решения</li>
					</ul>
				</li>
				<li>Визуализация
					<ul>
						<li>Фотореалистичное изображение помещений объекта</li>
					</ul>
				</li>
				<li>Изготовление рабочей документации
					<ul>
						<li>План обмеров</li>
						<li>План демонтажа существующих стен и перегородок</li>
						<li>План объекта с расстановкой мебели (экспликация помещений)</li>
						<li>Развертки стен</li>
						<li>Разрезы и разработка деталей (при необходимости)</li>
					</ul>
				</li>
				<li>Спецификации
					<ul>
						<li>Ведомость отделочных материалов и оборудования</li>
						<li>Спецификации мебели, сантехники и света</li>
					</ul>
				</li>
				<li>Авторский надзор
					<ul>
						<li>Контроль соответствия проводимых строительных работ дизайн-проекту</li>
						<li>Регулярные посещения объекта дизайнером</li>
						<li>Коррекция рабочих чертежей при необходимости</li>
						<li>Составление графика поставок и закупок материалов</li>
					</ul>
				</li>
				<li>Управление закупками
					<ul>
						<li>Сравнительный анализ цен</li>
						<li>Контроль сроков и выполнения работ</li>
					</ul>
				</li>
				<li>
					Декорирование
				</li>
			</ul>
		</p>
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		<h3>Цены</h3>
		Планировочный проект:
		<table class="table table-bordered">
		 <tr>
		  <td>
		   <ul>
		    <li>
		     обмерочный чертеж
		    </li>
		    <li>
		     планировочное решение с расстановкой мебели
		    </li>
		    <li>
		     экспликация помещений после перепланировки
		    </li>
		    <li>
		     рекомендации по подбору мебели и отделочных материалов 
		    </li>
		   </ul>
		  </td>
		  <td>
		   200 р/м2
		  </td>
		  <td>
		   5 рабочих дней
		  </td>
		 </tr>
		</table> 

		Стандарт:
		<table class="table table-bordered">
		 <tr>
		  <td>
		   <ul>
		    <li>
		     обмерочный чертеж
		    </li>
		    <li>
		     планировочное решение с расстановкой мебели
		    </li>
		    <li>
		     экспликация помещений после перепланировки 
		    </li>
		    <li>
		     план монтажа/демонтажа стен
		    </li>
		    <li>
		     план полов с указанием напольных покрытий и теплых полов
		    </li>
		    <li>
		     план электровыводов
		    </li>
		    <li>
		     план потолков с высотами
		    </li>
		    <li>
		     план осветительного оборудования, выключателей, схема управления освещением
		    </li>
		    <li>
		     развертки стен санузлов с раскладкой плитки
		    </li>
		    <li>
		     3D-визуализация основных помещений  
		    </li>
		   </ul>
		  </td>
		  <td>
		   от 500 р/м2
		  </td>
		  <td>
		   в зависимости от объема работы
		  </td>
		 </tr>
		</table>


		Дизайн-проект под ключ:
		<table class="table table-bordered">
		 <tr>
		  <td>
		   <ul>
		    <li>
		     обмерочный чертеж
		    </li>
		    <li>
		     планировочное решение с расстановкой мебели
		    </li>
		    <li>
		     экспликация помещений после перепланировки
		    </li>
		    <li>
		     экспликация дверей
		    </li>
		    <li>
		     план монтажа/демонтажа стен
		    </li>
		    <li>
		     план полов с указанием напольных покрытий и теплых полов
		    </li>
		    <li>
		     план электровыводов
		    </li>
		    <li>
		     план потолков с высотами и размерами
		    </li>
		    <li>
		     план осветительного оборудования, выключателей, схема управления освещением
		    </li>
		    <li>
		     развертки стен санузлов с раскладкой плитки 
		    </li>
		    <li>
		     развертка стен кухни с мебелью и электровыводами, раскладка плитки на фартук
		    </li>
		    <li>
		     ведомость отделки помещений с указанием материалов
		    </li>
		    <li>
		     3D-визуализация основных помещений
		    </li>
		    <li>
		     10 выездов с дизайнером в магазин
		    </li>
		    <li>
		     авторский надзор в течении 2х месяцев (1 раз в неделю)
		    </li>
		   </ul>
		  </td>
		  <td>
		   1500 р/м2
		  </td>
		  <td>
		   в зависимости от объема работы
		  </td>
		 </tr>
		</table>
	</div>
</div>