html{
    background-color: #333333
}
.right {
    float: right;
}
footer {
    margin-top: 20px;
    background-color: #333333;
    border-top: 4px solid #000000;
    color: #666666;
    min-height: 200px;
}

@media (max-width: 767px){
    footer{
        margin: 0 -20px;
    }
}

footer a {
    color: #999999;
}
footer a:hover {
    color: #FFFFFF;
}
footer h2 {
    color: #AAAAAA;
    margin-bottom: 10px;
}
footer p {
    color: #AAAAAA;
}
footer .container {
    padding: 20px 0;
}
footer ul {
    margin-left: 0;
}
footer ul li {
    list-style-type: none;
}
footer ul li a {
    color: #268BD2;
}
footer #footer_top {
    border-bottom: 1px solid #222222;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer .articles li {
    margin-bottom: 10px;
}
footer .articles li .title {
    color: white;
    font-size: 1.1em;
}
footer .tweets p.sub-heading {
    font-size: 13px;
}
footer #footer_bottom {
    border-top: 1px solid #444444;
    padding-top: 20px;
}
#twitter_icon, #facebook_icon, #rss_icon, #vk_icon {
    background-image: url("/assets/socials_icons.png");
    display: inline-block;
    height: 42px;
    margin-right: 5px;
    width: 42px;
}
#vk_icon {
    background-position: -168px -42px;
}
#vk_icon:hover{
    background-position: -168px 0;
}
#facebook_icon {
    background-position: -84px -42px;
}
#facebook_icon:hover {
    background-position: -84px 0;
}
#twitter_icon {
    background-position: -42px -42px;
}
#twitter_icon:hover {
    background-position: -42px 0;
}
#rss_icon {
    background-position: 0 -42px;
}
#rss_icon:hover {
    background-position: 0 0;
}
.sub_landing {
    font-size: 1.1em;
    margin-left: 75px;
    margin-top: 10px;
}
#landing_lower p.sub-heading, p.sub-heading {
    color: #777777;
    font-family: Georgia,serif;
    font-size: 15px;
    font-style: italic;
}
.splitter {
    border-top: 1px solid #DDDDDD;
}
.splitter_up {
    border-bottom: 1px solid #DDDDDD;
    bottom: 10px;
    position: relative;
}
.landing_gala {
    padding: 0 5px;
    width: 220px;
}
#scrollNavArrow {
    position: fixed;
    height: 40px;
    width: 40px;
    left: 100%;
    margin-left: -100px;
    top: 100%;
    margin-top: -70px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 4;
    display: none;
    background-image: url("/assets/scroll_up.png");
    background-position: 0 0;
}
a.brand > span{
    font-size:16px;
    color: #2595E3;
}
ul.header_ul > li.phone_li{
    background-image: url("/assets/phone.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
}
ul.header_ul > li.mail_li{
    background-image: url("/assets/mail.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
ul.header_ul li>a{
    margin-left:30px;
}
div #gallery img{
    margin-top: 5px;
}