<footer>
	<div class="container">
		<div id="footer_top" class="row">
			<div class="span12">
				<div class="right">
					<a id="vk_icon" title="Vkontakte" href="http://vk.com/id41648855"></a>
					<a id="facebook_icon" title="Facebook" href="http://www.facebook.com/maria.suslova.39"></a>
					<!--<a id="twitter_icon" title="Twitter" href="http://twitter.com"></a>-->
				</div>
				<div class="row">
					<div class="span2">
						<ul class="header_ul"> 
							<li class="phone_li">
								<a href="tel:+79198083788">
									+7 919 808 37 88
								</a>
							</li>			
							<li class="mail_li">
								<a href="mailto:mery_su@bk.ru">
									mery_su@bk.ru
								</a>
							</li>								
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="footer_bottom" class="row">
			<div class="span12">
				&nbsp; &copy; EskimoCreatorz 2012
			</div>
		</div>
	</div>
	<div style="clear:both"> </div>
</footer>