<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	    <div class="container">	      	
	      	<a class="brand" href=<%= root_path%>>Мария Суслова | Дизайнер</a>
	      	<div class="nav pull-right">
	        	<ul class="nav">		         	
					<li id="nav_about"><%= link_to "Обо мне", about_path %></li>
					<li id="nav_portfolio"><%= link_to "Портфолио", portfolio_path %></li>
					<li id="nav_contact"><%= link_to "Контакты", contact_path %></li>
	        	</ul>
	      	</div>
	    </div>
	</div>
</div>